.indexPage{
  color: #A2C7D7;


  .enterBtn{
    width: 60vw;
  }

  .title{

    padding-top: 40px;
    text-align: center;
  }
  .subTitle{
    padding-top: 48px;
  }




}




